<template>
  <div class="hello">
    <h1>{{ msg }}</h1>

    <h3>clicks: {{ counter }}</h3>

    <span><button v-on:click="click" type="button" class="btn btn-success">Click me</button></span>
  </div>
</template>

<script>
const axios = require('axios')
export default {
  name: 'Counter',
  props: {
    msg: String
  },
  data () {
      return {
        counter: 100
      }
  },
  async beforeMount() {
    var items = await axios.get('http://PRIVATE_IP:5000/count')
    console.log(items.data.count)
    this.counter = items.data.count
  },
  sockets: {
    connect() {
      console.log('socket connected')
    },
    clickEmit(data) {
        console.log('clickEmit' + data.count)
        this.counter = data.count
    }
  },
  methods: {
   increase() {
     this.counter++
   },
   click(){
      axios.post('http://PRIVATE_IP:5000/click', {
        page_title: "counter"
      }, {headers: {
        "Content-Type": "text/html",
      }})
      .then(response => {
       console.log(response)
      })
      .catch(function (error) {
        console.log(error);
      });
    }
 },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
span {
  margin-bottom: 100px;
}
</style>
