<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <CounterPage msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import CounterPage from './components/counter.vue'

export default {
  components: {CounterPage}
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
